### Ноутбук нужен для сопоставления координат с имеющимися координатами районов для потенциального применения для госорганов и бизнеса

In [3]:
import pandas as pd
import geopandas
import matplotlib.pyplot as plt
import h3

In [5]:
data = pd.read_csv('../data/processed_data/kaz_geocash_notna.csv', index_col=0, dtype={
                    'bin': 'str'})
data.head()

,bin,full_add,point,precision
0,111650722,"АСТАНА,Республика,37",71.424617 51.172304,exact
1,127601781,"г. Нур-Султан,р-н Есиль,ул.Бокейхана,15",71.433025 51.101112,exact
2,140000240,"г. Нур-Султан,р-н Байконыр,Иманова,12",71.447147 51.163477,near
3,220551251,"г. Нур-Султан,р-н Байконыр,Алаш шоссе,32",71.485119 51.201581,exact
4,240001926,"р-он Байконыр,ул. Жиенкулова,16",77.473189 43.986784,street

In [6]:
data.shape

(110740, 4)

In [7]:
data[['lat', 'lon']] = data['point'].str.split(' ',1,expand=True)

In [8]:
data

,bin,full_add,point,precision,lat,lon
0,111650722,"АСТАНА,Республика,37",71.424617 51.172304,exact,71.424617,51.172304
1,127601781,"г. Нур-Султан,р-н Есиль,ул.Бокейхана,15",71.433025 51.101112,exact,71.433025,51.101112
2,140000240,"г. Нур-Султан,р-н Байконыр,Иманова,12",71.447147 51.163477,near,71.447147,51.163477
3,220551251,"г. Нур-Султан,р-н Байконыр,Алаш шоссе,32",71.485119 51.201581,exact,71.485119,51.201581
4,240001926,"р-он Байконыр,ул. Жиенкулова,16",77.473189 43.986784,street,77.473189,43.986784
...,...,...,...,...,...,...
156167,940217300065,"г. Алматы,р-он Жетысуский,пр. Райымбека,239 г,...",76.899759 43.264499,exact,76.899759,43.264499
156282,671017300261,"обл. Западно-Казахстанская,г. Уральск,Пр. Абая...",51.389114 51.220156,exact,51.389114,51.220156
156283,740628400679,"г. Алматы,р-н Жетысуский,ул. Северное кольцо,д...",76.892195 43.291107,exact,76.892195,43.291107
156293,750403301381,"г. Алматы,р-н Турксибский,Суюнбая,261,2,г. Алм...",76.959254 43.322544,exact,76.959254,43.322544
156336,710325402147,"обл. Восточно-Казахстанская,г. Усть-Каменогорс...",82.643838 49.952289,number,82.643838,49.952289

In [9]:
data['precision'].value_counts()

exact     67129
other     14055
number    11270
near       9741
street     8545
Name: precision, dtype: int64

In [26]:
data[data['precision'] == 'exact'].sample(10)

,bin,full_add,point,precision,lat,lon
60543,680108450129,"обл. Акмолинская,г. Атбасар,Ауэзова,3",68.352109 51.80669,exact,68.352109,51.80669
858,10140005848,"КОКШЕТАУ,ул. Ташенова,54",69.400686 53.285981,exact,69.400686,53.285981
29670,541112400038,"пос. Аршалы,Митченко,4",72.172806 50.837016,exact,72.172806,50.837016
33667,571214450323,"КОКШЕТАУ,ул. Гагарина, д. 53",69.381839 53.290702,exact,69.381839,53.290702
87422,770708401796,"ЕРЕЙМЕНТАУ,А.Кунанбаева,168",73.091746 51.620425,exact,73.091746,51.620425
5928,71040013343,"КОКШЕТАУ,СЕВЕРНАЯ,7",69.381839 53.293711,exact,69.381839,53.293711
26979,510521350213,"обл. Акмолинская,г. Кокшетау,мкр. Васильковски...",69.389071 53.312157,exact,69.389071,53.312157
30856,551217450376,"обл. Акмолинская,г. Кокшетау,ул. Абая,133",69.398063 53.2868,exact,69.398063,53.2868
108881,851202450496,"обл. Акмолинская,г. Ерейментау,Кунанбаева,115",73.106928 51.619911,exact,73.106928,51.619911
40522,610210400520,"обл. Акмолинская,г. Кокшетау,ул. Осипенко,д.31",69.380743 53.290541,exact,69.380743,53.290541

In [33]:
from turfpy.measurement import boolean_point_in_polygon
from geojson import Point, Polygon, Feature

point = Feature(geometry=Point((51.172304,71.424617)))
polygon = Polygon(
    [
        [
            (51.2481830, 71.5145013), 
            (51.2378665, 71.5488336), 
            (51.1935654, 71.5762994), 
            (51.1806542, 71.6188714), 
            (51.1406063, 71.6346643), 
            (51.0565221, 71.5598199), 
            (51.0465944, 71.4925287), 
            (51.0176624, 71.4012048), 
            (51.0345056, 71.2769220), 
            (51.1169057, 71.2267969), 
            (51.2490426, 71.3414667), 
            (51.2658016, 71.4403436),
            (51.2481830, 71.5145013),
        ]
    ]
)
boolean_point_in_polygon(point, polygon)

True

In [ ]:
(68.6830869, 53.0760661),
(68.5114013, 53.4063469),
(68.8816233, 53.6125968),
(69.3228463, 53.5271154),
(69.7403268, 53.6705481),
(70.3995065, 53.2453618),
(70.6851510, 53.3962992),
(73.9151315, 52.5695375),
(73.9371042, 51.5017653),
(72.0364694, 50.4503671),
(71.5860299, 50.7363140),
(70.1797799, 50.0499416),
(68.7185983, 50.2189520),
(68.8014378, 50.8058643),
(67.1475534, 50.4013732),
(65.6424264, 51.0412537),
(66.0269479, 52.3754631),
(67.8396920, 52.3016246),
(68.4549264, 52.6695852),
(68.6966256, 53.0608908),

In [28]:
data['lon'] = data['lon'].astype('float')
data['lat'] = data['lat'].astype('float')

In [29]:
data['coords'] = list(zip(data['lon'],data['lat']))

In [30]:
data

,bin,full_add,point,precision,lat,lon,coords
5,108550224,"обл. Акмолинская,с. Акмол,Гагарина,6",70.977202 51.07331,exact,70.977202,51.073310,"(51.07331, 70.977202)"
13,115000284,"обл. Акмолинская,г. Акколь,Нурмагамбетова,89",70.956226 51.996299,near,70.956226,51.996299,"(51.996299, 70.956226)"
44,140001922,"СТЕПНОГОРСК,территория ""СтепногорскАвтоТранс""",71.879802 52.346664,other,71.879802,52.346664,"(52.346664, 71.879802)"
51,140002584,"обл. Акмолинская,г. Кокшетау,Калинина,35",69.382818 53.286961,exact,69.382818,53.286961,"(53.286961, 69.382818)"
61,140004907,"КОКШЕТАУ,Гагарина,53",69.381839 53.290702,exact,69.381839,53.290702,"(53.290702, 69.381839)"
...,...,...,...,...,...,...,...
130808,990801351221,"обл. Акмолинская,г. Щучинск,ул.Ауэзова,д.57/1",70.210706 52.939545,number,70.210706,52.939545,"(52.939545, 70.210706)"
130884,990909351090,"обл. Акмолинская,г. Кокшетау,пр-т Назарбаева,2Н",69.38192 53.296429,exact,69.381920,53.296429,"(53.296429, 69.38192)"
130977,991040002647,"г. Атбасар,Мира,24",68.34009 51.771432,street,68.340090,51.771432,"(51.771432, 68.34009)"
131043,991140005269,"КОКШЕТАУ,Куйбышева,29",69.376431 53.283069,exact,69.376431,53.283069,"(53.283069, 69.376431)"
131146,991240006409,"АККОЛЬ,Нурмагамбетова,73",70.957556 51.996155,near,70.957556,51.996155,"(51.996155, 70.957556)"

In [40]:
data['coords'] = data['coords'].apply(Point)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4250 entries, 5 to 131146
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bin        4250 non-null   object
 1   full_add   4250 non-null   object
 2   point      4250 non-null   object
 3   precision  4250 non-null   object
 4   lat        4250 non-null   float64
 5   lon        4250 non-null   float64
 6   coords     4250 non-null   object
dtypes: float64(2), object(5)
memory usage: 265.6+ KB

In [42]:
data['in_astana'] = data['coords'].map(lambda x: boolean_point_in_polygon(x, polygon))

In [34]:
polygon

{"coordinates": [[[51.248183, 71.514501], [51.237867, 71.548834], [51.193565, 71.576299], [51.180654, 71.618871], [51.140606, 71.634664], [51.056522, 71.55982], [51.046594, 71.492529], [51.017662, 71.401205], [51.034506, 71.276922], [51.116906, 71.226797], [51.249043, 71.341467], [51.265802, 71.440344], [51.248183, 71.514501]]], "type": "Polygon"}

In [43]:
data[data['in_astana'] == True].to_csv('astana/astana_true_1.csv.csv')

In [44]:
data[data['in_astana'] == True]

,bin,full_add,point,precision,lat,lon,coords,in_astana
15,441000554,"АСТАНА,ул. Орлыколь,д. 10/1",71.43042 51.128207,other,71.430420,51.128207,"{'type': 'Point', 'coordinates': [51.128207, 7...",True
31,941011726,"АСТАНА,пр.Достык,5",71.422245 51.12789,exact,71.422245,51.127890,"{'type': 'Point', 'coordinates': [51.12789, 71...",True
121,20540003631,"АСТАНА,ул.Жиенкулова,д.5",71.43042 51.128207,other,71.430420,51.128207,"{'type': 'Point', 'coordinates': [51.128207, 7...",True
233,41240001956,"участок,№109/110",71.43042 51.128207,other,71.430420,51.128207,"{'type': 'Point', 'coordinates': [51.128207, 7...",True
290,51140003990,"АСТАНА,ул. Орлыколь,д. 4",71.43042 51.128207,other,71.430420,51.128207,"{'type': 'Point', 'coordinates': [51.128207, 7...",True
...,...,...,...,...,...,...,...,...
7527,921003399029,"Абайский,Юбилейное,Мичурина,5А",71.403129 51.101507,other,71.403129,51.101507,"{'type': 'Point', 'coordinates': [51.101507, 7...",True
7715,941026451040,"г. Нур-Султан,р-н Алматы,ул. Айнаколь,19а",71.431238 51.115996,near,71.431238,51.115996,"{'type': 'Point', 'coordinates': [51.115996, 7...",True
7903,970940003562,"АСТАНА,ул. Алаш, д. 21",71.475587 51.198917,exact,71.475587,51.198917,"{'type': 'Point', 'coordinates': [51.198917, 7...",True
7909,971040000885,"АСТАНА,ул. Тауелсіздік,д. 41",71.43042 51.128207,other,71.430420,51.128207,"{'type': 'Point', 'coordinates': [51.128207, 7...",True
8031,991140001018,"АСТАНА,ул. Жиенкулова, д. 6",71.43042 51.128207,other,71.430420,51.128207,"{'type': 'Point', 'coordinates': [51.128207, 7...",True

In [142]:
polygon = Polygon(
    [
        [
            (71.5145013,51.2481830), 
            (71.5488336,51.2378665), 
            (71.5762994,51.1935654), 
            (71.6188714,51.1806542), 
            (71.6346643,51.1406063), 
            (71.5598199,51.0565221), 
            (71.4925287,51.0465944), 
            (71.4012048,51.0176624), 
            (71.2769220,51.0345056), 
            (71.2267969,51.1169057), 
            (71.3414667,51.2490426), 
            (71.4403436,51.2658016),
            (71.5145013,51.2481830),
        ]
    ]
)

In [143]:
polygon_ast = pd.DataFrame(h3.polyfill_geojson(polygon,9))

In [144]:
polygon_ast.rename(columns={0: "hex_info"}, inplace=True)

In [145]:
polygon_ast['location'] = polygon_ast['hex_info'].apply(lambda x: h3.h3_to_geo(x))

In [146]:
polygon_ast

             hex_info                                 location
0     89215380bcfffff  (51.094036069371846, 71.59278900828056)
1     89215380307ffff   (51.08991379735058, 71.50716944839297)
2     89215398ea3ffff   (51.03110409949226, 71.30371496110142)
3     89215391813ffff    (51.14406761075216, 71.3028550484107)
4     89215380087ffff   (51.11002119439148, 71.46613002672942)
...               ...                                      ...
4285  89215390dc7ffff    (51.22514710461708, 71.3375558034764)
4286  8921538728fffff   (51.15020819298254, 71.60214972055391)
4287  89215381567ffff   (51.060953383250784, 71.4480254123506)
4288  89215382cd3ffff  (51.173614983544745, 71.45696067042256)
4289  8921538318fffff    (51.10864537560974, 71.3996711624362)

[4290 rows x 2 columns]

In [147]:
polygon_ast.to_csv('hex_fill_astana.csv')

In [148]:
hex_info = pd.read_csv('hex_fill_astana_3.csv',index_col=0)
hex_info

             hex_info        lon        lat
0     89215380bcfffff  51.094036  71.592789
1     89215380307ffff  51.089914  71.507169
2     89215398ea3ffff  51.031104  71.303715
3     89215391813ffff  51.144068  71.302855
4     89215380087ffff  51.110021  71.466130
...               ...        ...        ...
4285  89215390dc7ffff  51.225147  71.337556
4286  8921538728fffff  51.150208  71.602150
4287  89215381567ffff  51.060953  71.448025
4288  89215382cd3ffff  51.173615  71.456961
4289  8921538318fffff  51.108645  71.399671

[4290 rows x 3 columns]

In [134]:
def create_hexagon_clusters(data, low_level_res = 9):
    """low_level_res & high_level_res размеры гексагонов нижнего и верхнего уровня"""
    #создание кластера нижнего уровня
    data['cluster'] = [h3.geo_to_h3(row['lon'], row['lat'], low_level_res) for idx, row in data.iterrows()]
    return data

In [150]:
hex_info['size'] = 500

In [151]:
hex_info = hex_info[['lon','lat','size']]

In [153]:
groups = hex_info.groupby(np.arange(len(hex_info.index))//100)

In [154]:
for (frameno, frame) in groups:
    frame.to_csv("%s.txt" % frameno, sep=',', index=None)

In [23]:
data['lon'] = data['lon'].astype('float')
data['lat'] = data['lat'].astype('float')

In [24]:
data['coords'] = list(zip(data['lon'],data['lat']))

In [25]:
data['coords'] = data['coords'].apply(Point)

In [26]:
data.head()

,bin,full_add,point,precision,lat,lon,coords
15,441000554,"АСТАНА,ул. Орлыколь,д. 10/1",76.934281 52.29449,exact,76.934281,52.294490,"{'type': 'Point', 'coordinates': [52.29449, 76..."
22,640004826,"р-он Байконыр,пр Абая,д 34",71.431453 51.168763,exact,71.431453,51.168763,"{'type': 'Point', 'coordinates': [51.168763, 7..."
31,941011726,"АСТАНА,пр.Достык,5",76.954197 43.261873,near,76.954197,43.261873,"{'type': 'Point', 'coordinates': [43.261873, 7..."
43,1240001601,"Грузинская,39",71.43042 51.128207,other,71.430420,51.128207,"{'type': 'Point', 'coordinates': [51.128207, 7..."
54,10340002850,"Кармакшинский,Жосалы,Мусирбаев,2 Б",71.365113 51.202179,number,71.365113,51.202179,"{'type': 'Point', 'coordinates': [51.202179, 7..."

In [37]:
data['in_astana'] = data['coords'].map(lambda x: boolean_point_in_polygon(x, polygon))

In [39]:
data[data['in_astana'] == False].shape

(368, 8)

In [42]:
data[data['in_astana'] == False].to_csv('not_within_ast_round2.csv')

In [28]:
data_ast = data[data['in_astana'] == True]

In [74]:
data_ast.to_csv('ast_within.csv')